@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Signika Negative', sans-serif;
}
main *{
  font-family: 'Protest Revolution', sans-serif;
  
}
main h1,h2,h3,h4,h5, h6{
  color: rgb(23, 44, 61);
  font-family: 'Protest Riot', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
    background-image: linear-gradient(45deg, rgb(23, 44, 61), lightblue);
    overflow-x: hidden !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h1,h2,h3,h4,h5, h6{
  color: rgb(23, 44, 61);
}

::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: rgb(28, 54, 75); /* color of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(53, 88, 117); /* color of the scroll thumb on hover */
}
